/* #region general */
html {
    scroll-behavior: smooth;
}

/* Override default link styles. */
a { text-decoration: none; color: black}
a:hover, a:active { text-decoration: none; color:red }
span:hover { text-decoration: none; color: red; }

.header h2, .header a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header img {
    height: 35px;
}

.end-of-page {
    text-align: center;
}

.end-of-page a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.end-of-page img {
    width: 40px;
}

.caption-text { color: white}

/* Source: https://www.w3schools.com/howto/howto_js_sidenav.asp. */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav h2 {
    padding: 8px 8px 8px 21px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: relative;
    transition: margin-left .5s;
    padding: 20px;
}

#nav-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

#nav-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* On smaller screens, where height is less than 450px, change 
the style of the sidenav (less padding and a smaller font size). */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* #endregion general */

/* #region grid */
.grid {
    display: grid;
    gap: 7px;
    padding: 85px;
    padding-top: 20px;
    max-width: 1600px;
    margin: 0 auto;

    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
}

@media (max-width: 768px) {
    .grid {
        padding: 20px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 12px;
    }
}

/* Reference: https://github.com/simeydotme/pokemon-cards-css/blob/main/public/css/cards/regular-holo.css. */
.card {
    aspect-ratio: 5 / 7;
    border-radius: 12px;
    overflow: hidden;
    background: #111;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    position: relative;

    --pointer-x: 50%;
    --pointer-y: 50%;
    --background-x: 50%;
    --background-y: 50%;
    --card-opacity: 0;
}

/* Bring card to front when in context. */
.card:hover {
    z-index: 10;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.shine, .glare {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: inherit;
}

.card .shine {
    background:
        radial-gradient(
            circle at var(--pointer-x) var(--pointer-y),
            rgba(255,255,255,0.12) 0%,
            rgba(255,255,255,0.08) 10%,
            rgba(0,255,255,0.25) 25%,
            rgba(255,0,150,0.25) 45%,
            rgba(0,255,100,0.2) 65%,
            transparent 70%
        ),
        repeating-linear-gradient(
            110deg,
            violet, blue, green, yellow, red,
            violet, blue, green, yellow, red
        );

    background-size: 100% 100%, 300% 300%;
    background-position: center center, center center;

    mix-blend-mode: overlay;
    opacity: var(--card-opacity);
    filter: brightness(1.2) contrast(1.2) saturate(1.4);
}

.card .glare {
    background-image:
    radial-gradient(
        circle at var(--pointer-x) var(--pointer-y),
        rgba(255,255,255,0.7) 0%,
        rgba(255,255,255,0.15) 30%,
        rgba(0,0,0,0.4) 100%
    );

    mix-blend-mode: overlay;
    opacity: calc(var(--card-opacity) * 0.8);
}

/* #endregion grid */

/* #region lightbox */
.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 999;
}

.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox-content {
    max-width: 90vw;
    max-height: 90vh;
    text-align: center;
    transform: scale(0.95);
    transition: transform 0.25s ease;
}

.lightbox.active .lightbox-content {
    transform: scale(1);
}

.lightbox img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 14px;
  box-shadow: 0 40px 80px rgba(0,0,0,0.8);
  transition: opacity 0.2s ease;
}

.lightbox p {
    color: white;
    margin-top: 16px;
    font-size: 14px;
    opacity: 0.8;
}
/* #endregion lightbox */

/* #region fonts */

@font-face {
    font-family: 'pokemon';
    src: url('./assets/fonts/Pokemon-Hollow.ttf') format('truetype');
}

.a, .pokemon-text {
    font-family: 'pokemon';
}

/* #endregion font */